body{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}


h1{
  font-size: ;
  font-family: ;
  color:;
  padding-left: 10px;
}

figure{
  display: inline-block;
  position: relative;


}

img{


}
