body{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}


h1{
  font-size:25px ;
  font-family:'Roboto Slab', serif ;
  color:#64615F;
  padding: 20px;
  padding-left: 7%;
}

main{
  margin-left:5%;
  overflow-x: scroll;
  width:73%;

}

div{
  display: inline-block;

}

img{
  position: relative;
  width:200px;
  height:250px;
  padding:20px ;

}

p{
  position: relative;
  bottom:60px;
  left: 130px;
  font-size: 11px;
  font-family:'Roboto Slab', serif ;
  text-shadow: 1px 1px 2px #000;
  color: #fff;

}
