body{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}


h1{
  font-size:20px ;
  font-family: ;
  color:#64615F;
  padding-left: 10px;
}

main{
  padding-left:50px ;
  padding-right:50px ;
}

table{
  display: inline-block;


}

img{
  width:150px;
  height:200px;
  padding:15px ;
  overflow: hidden;
}
